*.class


/node_modules

# SSH Keys
*.pem
*.ppk

### IntelliJ IDEA ###
**/*.iml
**/.idea
**/.gradle
.idea
.idea/
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

#Other Files
*.ini

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.metadata/

# Package Files #
*.jar
*.war
*.ear

# Merge Files
*.bak